*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.intestazione{
    background-color: black;
    justify-content: end;
    align-items: center;
    height: 30px;
}

.intestazione img{
    width: 60px;
    margin-right: 10px;
}

.button{
    border-radius: 33rem;
    border: none;
    color: white;
    padding: .3rem 1rem;
}

#button-gray{
    background-color: #616161;
}

i {
    font-size: 1.5rem;
}

.box{
    width: 100%;

}

.box-prova{
    width: 100%;
    height: 100px;
    background-color: aqua;
    border: 4px solid magenta;
}

